@page "/home"
@inject TokenStorageService TokenStorage
@inject NavigationManager Navigation
@inject GeminiService GeminiService
@using FrontEnd.Pages

<h3>Home Page</h3>

@if (IsAuthenticated)
{

    <p>Welcome to your astrology app, @TokenStorage.GetUserEmail()!</p>
    <p>Save Data To View Compatibility With Other Users In The Users.</p>
    <button @onclick="Logout">Logout</button>

}
else
{
    <p>Login To Save Data And View Compatibility With Other Users.</p>
    <button @onclick="RedirectToLogin">Go to Login</button>
}

<!-- Add AI Component Here -->
<TestGemini />

@code {
    private bool IsAuthenticated => !string.IsNullOrEmpty(TokenStorage.GetToken());

    private void RedirectToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void Logout()
    {
        TokenStorage.ClearToken();
        Navigation.NavigateTo("/login");
    }
}
