@page "/"
@inject TokenStorageService TokenStorage
@inject NavigationManager Navigation
@inject GeminiService GeminiService
@using FrontEnd.Pages

<h3>Home Page</h3>

@if (IsAuthenticated)
{

    <p>Welcome to your astrology app, @TokenStorage.GetUserEmail()!</p>
    <button @onclick="Logout">Logout</button>

    <!-- Add Test Component Here -->
    <TestGemini />
}
else
{
    <div class="saturn saturn-1"></div>
    <div class="saturn saturn-2"></div>
    <div class="saturn saturn-3"></div>

    <p>You are not authorized to view this page.</p>
    <button @onclick="RedirectToLogin">Go to Login</button>
}

@code {
    private bool IsAuthenticated => !string.IsNullOrEmpty(TokenStorage.GetToken());

    private void RedirectToLogin()
    {
        Navigation.NavigateTo("/login");
    }

    private void Logout()
    {
        TokenStorage.ClearToken();
        Navigation.NavigateTo("/login");
    }
}
